{% extends "layout.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'js/users.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div class="full-screen-container">
        <div class="login-container">
            <h3 class="login-title">Title</h3>
            <div class="input-group">
                <label>Username</label>
                <input data-username autofocus required type="text" name="username" autocomplete="off">
            </div>
            <div class="input-group">
                <label>Email</label>
                <input data-email required type="email" name="email" autocomplete="nope">
            </div>
            <div class="input-group">
                <label>Password</label>
                <input data-password required type="password" name="password">
            </div>
            <div class="input-group">
                <label>Confirm Password</label>
                <input data-confirmation required type="password" name="confirmation">
            </div>
            <button data-register-button class="login-button">Sign In</button>
            <div class="login-link">
                <span>Already have an account? <a href="{% url 'login' %}">Log In here.</a></span>
            </div>
        </div>
    </div>
{% endblock %}
